:root {
    --pink:#E50051;
}
body{
    margin: 0px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}
header{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #fff;
    border-color: #dadada;
    border-bottom-style: dashed;
}
.logo img{
    width: 120px;
    margin-top: 3.9285vh;
    margin-left: 120px;
}
.cart img{
    width: 18px;
    position: absolute;
    top: 5.5vh;
    left: 25.025vw;
}
.shop input[type=text]{
    background-color: white;
    color: black;
    border-color: #707070;
    border-width: 0.1px;
    border-radius: 3px;
    padding:0.9428vh 4.9vw 0.9428vh 3.15vw;
    margin-left: 7vw;
    margin-top: 4.7142vh;
    width: 2.8vw;
}
::placeholder { 
    color: black;
    opacity: 0.5;
  }
  
  :-ms-input-placeholder { 
    color: black;
    opacity: 0.5;
  }
  
  ::-ms-input-placeholder {
    color: black;
    opacity: 0.5;
}
input[type="button"]{
    background-color: #E50051;
    border: none;
    padding: 0.9428vh 0.56vw 0.9428vh 0.56vw;
    color: #fff;
    position: absolute;
    top: 4.87142vh;
    left: 32.68vw;
    border-radius: 3px;
    cursor: pointer;
}
.search input[type=text]{
    background-color: white;
    color: black;
    border-color: #707070;
    border-width: 0.1px;
    border-radius: 3px;
    padding: 0.9428vh 3.5vw 0.9428vh 1.4vw;
    margin-left: 3.5vw;
    margin-top: 4.714vh;
    width: 2.86vw;
}
.search img{
    width: 20px;
    position: absolute;
    top: 5.15vh;
    left: 45.2vw;
}
.navbar a{
    color: #E50051;
    text-decoration: none;
    margin-left: 2.145vw;
    font-weight: 600;
    border-color: black;
    border-radius: 250px;
    background-color:#fff;
    padding-top: 3.1428vh;
    padding-bottom: 3.1428vh;
    padding-left: 0.71vw;
    padding-right: 0.71vw;
    box-shadow: 0.35vw 5px 25px #c0c0c0;
    scroll-behavior: smooth;
}
.navbar a:hover{
    background-color: #E50051;
    color: #fff;
}
.navbar a:active{
    background-color: #E50051;
    color: #fff;
}
.navbar{
    position: absolute;
    left: 53.63vw;
    top: 11vh;
}
.iconsnav img{
    margin-left: 1.43vw;
    width: 1.43vw;
}
.iconsnav{
    margin-top: 3vh;
    margin-left: 5vw;
}
.firsticonsnav{
    margin-left: 8.938vw;
}
.home{
    background-color: #fff;
    display: flex;
}
.shopiconnav{
    margin-left: 4.64vw;
}
.ethicsiconnav{
    margin-left: 4.29vw;
}
.home h1{
    margin: 0px;
    font-size: 50px;
    margin-left: 7.15vw;
}
.firsth1{
    padding-top: 7.8571vh;
}
.home p{
    width: 42.90vw;
    margin-left: 7.15vw;
    margin-top: 11vh;
}
.home button{
    background-color: #E50051;
    border: none;
    color: #fff;
    padding: 2.04vh 2.8vw 2.04vh 2.8vw;
    margin-left: 7.15vw;
    margin-top: 7.8571vh;
    border-radius: 50px;
    cursor: pointer;
}
.home button:hover{
    background-color: lightpink;
    color: black;
}
.home-image img{
    width: 53.624vw;
}
.home-left{
    background:none;
    height: 400px;
    margin-top: 100px;
    margin-bottom: 150px;
    padding-right: 4.29vw;;
}
.home-right img{
    width: 42.9vw;
    margin-top: 100px;
}
.about{
    padding-top: 100px;
    display: flex;
}
.about-written h1{
    font-size: 40px;
    margin: 0px;
    margin-bottom: 4.714vh;
}
.about-written p{
    margin: 0px;
    margin-top: 3.1428vh;
    width: 35.75vw;
}
.about-written{
    margin-left: 5.72vw;
    margin-right: 7.15vw;
}
.card img{
    width: 3.575vw;
}
.card h2{
    margin:0px;
    font-size: 18px;
}
.card p{
    margin: 0px;
    width: 17.875vw;
    font-size: 12px;
}
.about-card-top{
    display: flex;
    margin-bottom: 7.8571vh;
}
.about-card-bottom{
    display: flex;
}
.leftcard{
    margin-right: 3.575vw;
}
.card{
    width: 17.875vw;
    box-shadow: 3px 3px 25px #c0c0c0;
    padding: 3.1428vh;
}
.shopdiv{
    padding-top: 150px;
}
.shop-top h1{
    font-size: 40px;
    margin: 0px;
    margin-bottom: 4.714vh;
    margin-left: 6.435vw;
}
.select-top-btns button{
    background-color: #fff;
    border: none;
    border-color: #E50051;
    border-radius: 50px;
    border-style: solid;
    border-width: 2px;
    padding: 8px 1.43vw 8px 1.43vw;
}
.select-top-btns button:hover{
    background-color: #E50051;
    color: #fff;
}
.notfirstbtn{
    margin-left: 1.43vw;
}
button.notfirstbtn:hover{
    background-color: #E50051;
    color: #fff;
}
.shop-top{
    margin-left: 28.6vw;
}
.plot img{
    width: 21.45vw;
}
.plot h2{
    margin: 0px;
    font-size: 19px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.tags button{
    border: none;
    background-color: white;
    height: 4.714vh;
    margin-right: 0.715vw;
}
button.button1st,.tags button:hover{
    background-color: #fff;
    border: none;
    border-color: #E50051;
    border-radius: 50px;
    border-style: solid;
    border-width: 2px;
    padding: 3px 1.43vw 3px 1.43vw;
}
.tags p{
    margin: 0px;
    font-weight: 700;
    font-size: 3.1428vh;
    color: #E50051;
}
.tags{
    display: flex;
}
.final{
    display: flex;
}
.quantity{
    display: flex;
    border-style: solid;
    border-width: 0.143vw;
    border-color: #E50051;
    border-radius: 50px;
    padding: 5px;
    height: 3.1428vh;
    width: 5.72vw;
}
.quantity p{
    font-weight: 700;
    margin: 0px;
    margin-right: 1.7875vw;
}
p.adjust:hover{
    color: #E50051;
}
p.adjust{
    cursor: pointer;
}
p.price{
    margin-left: 2vw;
}
.final button{
    border: none;
    background-color: #E50051;
    color: #fff;
    padding: 1.5vh 1.43vw 1.5vh 1.43vw;
    border-radius: 50px;
    margin-left: auto;
    cursor: pointer;
}
.final{
    margin-top: 15px;
    margin-left: 0.715vw;
}
.plot{
    margin-top: 7.8571vh;
    margin-left: 3.575vw;
    width: 18.9475vw;
    box-shadow: 3px 3px 25px #c4c4c4;
    padding: 3.1428vh;
    border-radius: 5px;
}
.plots-top,.plots-bottom{
    display: flex;
    margin-left: 10.725vw;
}
.plots-top{
    margin-top: 7.8571vh;
}
button.viewmore{
    background-color: #fff;
    border: none;
    border-color: #E50051;
    border-radius: 50px;
    border-style: solid;
    border-width: 2px;
    padding: 8px 2.86vw 8px 2.86vw;
    cursor: pointer;
    margin-left: 42.9vw;
    margin-top: 7.8571vh;
}
.process h2{
    font-size: 40px;
}
.sheets h1{
    font-size: 50px;
    margin: 0px;
    color: #E50051;
}
.sheets h3{
    font-size: 17px;
    margin: 0px;
}
.sheets p{
    margin: 0px;
    width: 16.445vw;
    font-size: 12px;
}
.sheetsall{
    display: flex;
}
.process{
    padding-top: 100px;
    margin-left: 12.87vw;
}
.sheets{
    margin-top: 4.714vh;
    margin-right: 2.145vw;
}
.downsheet{
    margin-top: 80px;
}
.review h1{
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.review p{
    width: 35.75vw;
    font-size: 15px;
}
.review{
    padding-top: 100px;
}
.paper{
    box-shadow: 2px 2px 25px #cecece;
    padding: 5.1428vh;
    width: 35.75vw;
    justify-content: center;
    margin: auto;
}
.toggle svg{
    width: 7.15vw;
    cursor: pointer;
    justify-content: center;
    display: inline-flex;
}
.toggle svg:hover{
    color: #E50051;
}
.toggle{
    margin-top: 4.714vh;
    margin-left: 40.725vw;
}
footer {
    display: flex;
    padding-bottom: 40px;
    padding-top: 7.8571vh;
    background-color: #ebebeb;
    margin-top: 7.8571vh;
}
footer img{
    width: 10.725vw;
}
.column1 p{
    margin: 0px;
}
.column2{
    display: flex;
}
.column2 p{
    margin-left: 1.43vw;
}
.column1{
    margin-left: 7.15vw;
}
.column2{
    margin-left: 21.45vw;
}
.column3{
    margin-left: 14.3vw;
}
.column3 p{
    margin-bottom: 2px;
    margin-top: 2px;
}
.number{
    display: flex;
    margin-bottom: 3.1428vh;
}
.address{
    display: flex;
}
.column3 img{
    width: 16px;
    margin-right: 10px;
}
.social{
    display: flex;
    margin-bottom: 40px;
    margin-left: 50px;
}
.social img{
    width: 24px;
    margin-left: 10px;
}
button{
    cursor: pointer;
}
.orangeplace{
    position: absolute;
    top: 1100px;
    width: 35.795vw;
    left: 60.8515vw;
    display:none;
}
.leafplace{
    top: 1250px;
    position: absolute;
    width: 17.8975vw;
    display:none;
}
.strawshake{
    position: absolute;
    width: 28.636vw;
    left: 75.1695vw;
    top: 2590px;
    display:none;
}
.leafplace2{
    top: 3100px;
    position: absolute;
    width: 28.636vw;
    display:none;
}
video.backgroundvideo{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.shop p{
    color: #707070;
    position: absolute;
    top: 3.4vh;
    left: 27vw;
    font-size: 80%;
}
